.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.main-title {
    font-size: 50px;
    font-weight: bold;
}

.card-text {
    text-align: justify;
    text-justify: inter-word;
}